<!-- users/templates/user/lessor_details.html  -->
{% extends "users/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<div class="content-section col-md-8 col-md-offset-2">
    <center>
        <form method="POST" enctype="multipart/form-data" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
            <h3>Lessor Update profile</h3>
            {{ form|crispy }}
            {% csrf_token %}
            <fieldset class="form-group">
               
            </fieldset>
            <center>
                <button style="background: rgb(24, 156, 117); font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="submit">
                    Update
                </button>
                <button style="background: rgb(218, 23, 23); font-size: 2rem; padding:1%;" class="btn btn-outline-info" type="reset">
                    Reset
                </button>
             
            </center>
        </form>
    </center>
</div>

{% endblock start %}
