<!-- users/templates/verify_otp.html -->


{% block start %}
<div class="content-section col-md-8 col-md-offset-2">
<form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ username }}">

    <label for="otp">Enter OTP:</label>
    <input type="text" id="otp" name="otp" r>
    <center>
        <button style="background: black; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit">Verify OTP</button>
        <button style="background: gray; padding:2%; font-size: 2rem; color:white;" class="btn btn-outline-info" type="submit" name="resend" value="resend">Resend OTP</button>
    </center>
    <br />
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</form>
</div>
{% endblock start %}
