<!-- warehouse/templates/warehouse/add_warehouse.html -->

<!DOCTYPE html>
<html lang="en">

{% load static %}




<head>
    <!-- Title -->


    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="index, follow">


    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css ' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css ' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css ' %}">


    <!-- Daterange picker -->
    <link href="{% static 'vendor/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

    <!-- Clockpicker -->
    <link href="{% static 'vendor/clockpicker/css/bootstrap-clockpicker.min.css' %}" rel="stylesheet">

    <!-- asColorpicker -->
    <link href="{% static 'vendor/jquery-ascolorpicker/css/ascolorpicker.min.css' %}" rel="stylesheet">

    <!-- Material color picker -->
    <link href="{% static 'vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}"
        rel="stylesheet">

    <!-- Bootstrap datepicker -->
    <link href="{% static 'vendor/bootstrap-datepicker-master/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

    <!-- Pick date -->
    <link rel="stylesheet" href="{% static 'vendor/pickadate/themes/default.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/pickadate/themes/default.date.css' %}">


    <style>
        .invalid-feedback {
            display: none;
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
        }

        .is-invalid ~ .invalid-feedback {
            display: block;
        }

        .is-invalid {
            border-color: #dc3545;
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }

        .is-invalid:focus {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }

        .is-valid {
            border-color: #28a745;
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }

        .is-valid:focus {
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
        }

        .select2-container--default .select2-selection--single.is-invalid {
            border-color: #dc3545;
        }

        .select2-container--default .select2-selection--single.is-valid {
            border-color: #28a745;
        }
    </style>
</head>

<body>

    <!--**********************************
            Main wrapper start
        ***********************************-->
    <div id="main-wrapper">
    
        <!--**********************************
                Nav header start
            ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="{% static 'images/logo.png' %}" alt="/">
            </a>
    
            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
                Nav header end
            ***********************************-->
    
        <!--**********************************
                Header start
            ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                        </div>
    
                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="javascript:void(0);" role="button" data-bs-toggle="dropdown">
                                    <div class="header-info">
                                        <span class="text-black">{{ lessor.lessor_name }}</span>
                                    </div>
                                    <img src="{{ lessor.photo.url }}" width="20" alt="profile image">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a href="{% url 'lessor_details' %}" class="dropdown-item ai-icon">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary"
                                            width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                        <span class="ms-2">Profile </span>
                                    </a>
                                    <a href="{% url 'logout' %}" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger"
                                            width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                            <polyline points="16 17 21 12 16 7"></polyline>
                                            <line x1="21" y1="12" x2="9" y2="12"></line>
                                        </svg>
                                        <span class="ms-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
                Header end ti-comment-alt
            ***********************************-->
    
        <!--**********************************
                Sidebar start
            ***********************************-->
        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">
                    <ul aria-expanded="false">
                        <li><a href="{% url 'lessor_index' %}">Home</a></li>
                        <li><a href="{% url 'add_warehouse' %}">Add Warehouse</a></li>
                    </ul>
                </ul>
            </div>
        </div>
        <!--**********************************
                Sidebar end
            ***********************************-->

<!--**********************************
            Content body start
        ***********************************-->
            <div class="content-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Add Warehouse</h4>
                                    lessor_id:{{ lessor_id }}
                                </div>
                                <div class="card-body">

                                    <div class="basic-form">
                                        <form id="addWarehouseForm" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="card-body">
                                                <div class="mb-4 col-lg-6">
                                                    <label class="form-label">Location of warehouse</label>
                                                    <select id="single-select" name="location" style="width:100%;" required>
                                                        <option value="" disabled selected>Select location</option>
                                                        {% for location in locations %}
                                                        <option value="{{ location.location_id }}">{{ location.state }}, {{location.city }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="mb-3 col-lg-6 col-md-6">
                                                    <label class="form-label">Area (Sqft)</label>
                                                    <input type="number" class="form-control" name="area" placeholder="area in square feet" required>
                                                </div>


                                                <div class="mb-3 col-lg-6 col-md-6">
                                                    <label class="form-label">Landmark</label>
                                                    <input type="text" class="form-control" name="landmark" placeholder="landmark" required>
                                                </div>

                                                <div class="mb-3 col-lg-6 col-md-6">
                                                    <label class="form-label">Ownership Document</label>
                                                    <input class="form-control form-control-sm" id="formFileSm" type="file" name="ownership_document" accept=".pdf" required>
                                                </div>

                                               

                                                <div class="mb-3 col-lg-6 col-md-6">
                                                    <label class="form-label">Pick Date for finished warehouse construction date</label>
                                                    <input name="date" class=" form-control" id="datepicker" max="{{ today|date:'Y-m-d' }}" type="date" required>
                                                </div>
                                                <script>
                                                    // Function to format the date as yyyy-mm-dd
                                                    function formatDate(date) {
                                                        const year = date.getFullYear();
                                                        const month = String(date.getMonth() + 1).padStart(2, '0');
                                                        const day = String(date.getDate()).padStart(2, '0');
                                                        return `${year}-${month}-${day}`;
                                                    }
                                            
                                                    // Set the max attribute for the date input to today's date
                                                    document.addEventListener('DOMContentLoaded', function() {
                                                        const today = new Date();
                                                        const maxDate = formatDate(today);
                                                        document.getElementById('datepicker').setAttribute('max', maxDate);
                                                    });
                                                </script>
                                                <div class="mb-3 col-lg-6 col-md-6">
                                                    <label class="form-label">Rental Price</label>
                                                    <input type="number" class="form-control" name="rental_price" placeholder="in rupees" required>
                                                </div>

                                                <div class="mb-3 col-lg-6 col-md-6">
                                                    <label for="id_image">Photos of warehouse</label>
                                                    <input type="file" class="form-control form-control-sm" id="id_image" name="images" accept=".jpeg,.jpg,.png" required>
                                                </div>

                                                <div class="mb-3 col-lg-8 col-md-6">
                                                    <label class="form-label">Terms and Conditions</label>
                                                    <textarea class="form-control" id="comment" name="terms_cond" rows="8" required></textarea>
                                                </div>

                                                <label class="form-label">Select Facilities You Provide</label>
                                                <div class="mb-3">
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="Loading Docks">
                                                        <label class="form-check-label">Loading Docks</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="Racking Systems">
                                                        <label class="form-check-label">Racking Systems</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="Lighting and Climate Control">
                                                        <label class="form-check-label">Lighting and Climate Control</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="Climate control">
                                                        <label class="form-check-label">Climate Control</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="Surveillance cameras">
                                                        <label class="form-check-label">Surveillance Cameras</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="Security personnel">
                                                        <label class="form-check-label">Security Personnel</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="Restrooms and break areas">
                                                        <label class="form-check-label">Restrooms and Break Areas</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="Office spaces">
                                                        <label class="form-check-label">Office Spaces for Administrative Tasks</label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input type="checkbox" class="form-check-input" name="facilities" value="First aid stations">
                                                        <label class="form-check-label">First Aid Stations</label>
                                                    </div>
                                                </div>

                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!--**********************************
        Main wrapper end
    ***********************************-->

            <!--**********************************
        Scripts
    ***********************************-->
            <!-- Required vendors -->
            <script src="{% static 'vendor/global/global.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
            <script src="{% static 'js/custom.min.js' %}"></script>
            <script src="{% static 'js/deznav-init.js' %}"></script>
            <script src="{% static 'vendor/select2/js/select2.full.min.js' %}"></script>
            <script src="{% static 'js/plugins-init/select2-init.js' %}"></script>


            <script src="{% static 'vendor/global/global.min.js' %}"></script>
        
            <!-- Daterangepicker -->
            <!-- moment.js is a must -->
            <script src="{% static 'vendor/moment/moment.min.js' %}"></script>
            <script src="{% static 'vendor/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
            <script src="{% static 'vendor/bootstrap-datepicker-master/js/bootstrap-datepicker.min.js' %}"></script>

            <!-- Clockpicker -->
            <script src="{% static 'vendor/clockpicker/js/bootstrap-clockpicker.min.js' %}"></script>

            <!-- asColorPicker -->
            <script src="{% static 'vendor/jquery-ascolor/jquery-ascolor.min.js' %}"></script>
            <script src="{% static 'vendor/jquery-asgradient/jquery-asgradient.min.js' %}"></script>
            <script src="{% static 'vendor/jquery-ascolorpicker/js/jquery-ascolorpicker.min.js' %}"></script>

            <!-- Material color picker -->
            <script
                src="{% static 'vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>

            <!-- Pickdate -->
            <script src="{% static 'vendor/pickadate/picker.js' %}"></script>
            <script src="{% static 'vendor/pickadate/picker.time.js' %}"></script>
            <script src="{% static 'vendor/pickadate/picker.date.js' %}"></script>

            <!-- Daterangepicker -->
            <script src="{% static 'js/plugins-init/bs-daterange-picker-init.js' %}"></script>

            <!-- Clockpicker init -->
            <script src="{% static 'js/plugins-init/clock-picker-init.js' %}"></script>

            <!-- asColorPicker init -->
            <script src="{% static 'js/plugins-init/jquery-ascolorpicker.init.js' %}"></script>

            <!-- Material color picker init -->
            <script src="{% static 'js/plugins-init/material-date-picker-init.js' %}"></script>

            <!-- Pickdate init -->
            <script src="{% static 'js/plugins-init/pickadate-init.js' %}"></script>

            <script src="{% static 'js/custom.min.js' %}"></script>
            <script src="{% static 'js/deznav-init.js' %}"></script>

            <script src="{% static 'vendor/global/global.min.js' %}"></script>
	<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'js/custom.min.js' %}"></script>
	<script src="{% static 'js/deznav-init.js' %}"></script>
	

    <script src="{% static 'vendor/jquery-validation/jquery.validate.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#single-select').select2({
                placeholder: "Select location",
                allowClear: true
            });
        
            // Initialize datepicker
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true,
                endDate: new Date()  // Set max date to today
            });
        
            var validator = $("#addWarehouseForm").validate({
                ignore: [],
                rules: {
                    location: {
                        required: true
                    },
                    area: {
                        required: true,
                        number: true,
                        min: 1
                    },
                    ownership_document: {
                        required: true,
                        extension: "pdf"
                    },
                    landmark: {
                        required: true,
                        minlength: 3
                    },
                    date: {
                        required: true,
                        date: true
                    },
                    rental_price: {
                        required: true,
                        number: true,
                        min: 0
                    },
                    images: {
                        required: true,
                        extension: "jpg|jpeg|png"
                    },
                    terms_cond: {
                        required: true,
                        minlength: 10
                    },
                    "facilities[]": {
                        required: true,
                        minlength: 1
                    }
                },
                messages: {
                    location: "Please select a location",
                    area: {
                        required: "Please enter the area",
                        number: "Please enter a valid number",
                        min: "Area must be greater than 0"
                    },
                    ownership_document: {
                        required: "Please upload the ownership document",
                        extension: "Please upload a PDF file"
                    },
                    landmark: {
                        required: "Please enter a landmark",
                        minlength: "Landmark should be at least 3 characters long"
                    },
                    date: {
                        required: "Please select a date",
                        date: "Please enter a valid date"
                    },
                    rental_price: {
                        required: "Please enter the rental price",
                        number: "Please enter a valid number",
                        min: "Rental price must be 0 or greater"
                    },
                    images: {
                        required: "Please upload at least one image",
                        extension: "Please upload valid image files (jpg, jpeg, or png)"
                    },
                    terms_cond: {
                        required: "Please enter the terms and conditions",
                        minlength: "Terms and conditions should be at least 10 characters long"
                    },
                    "facilities[]": "Please select at least one facility"
                },
                errorElement: "span",
                errorPlacement: function(error, element) {
                    error.addClass("invalid-feedback");
                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else if (element.hasClass("select2-hidden-accessible")) {
                        error.insertAfter(element.next("span.select2"));
                    } else {
                        error.insertAfter(element);
                    }
                },
                highlight: function(element, errorClass, validClass) {
                    $(element).addClass("is-invalid").removeClass("is-valid");
                    if ($(element).hasClass("select2-hidden-accessible")) {
                        $(element).next("span.select2").find(".select2-selection").addClass("is-invalid").removeClass("is-valid");
                    }
                },
                unhighlight: function(element, errorClass, validClass) {
                    $(element).removeClass("is-invalid").addClass("is-valid");
                    if ($(element).hasClass("select2-hidden-accessible")) {
                        $(element).next("span.select2").find(".select2-selection").removeClass("is-invalid").addClass("is-valid");
                    }
                },
                submitHandler: function(form) {
                    form.submit();
                }
            });
        
            // Trigger validation on keyup, change, and blur for all inputs
            $("#addWarehouseForm input, #addWarehouseForm textarea, #addWarehouseForm select").on('keyup change blur', function() {
                validator.element(this);
            });
        
            // Special handling for Select2
            $('#single-select').on('select2:select select2:unselect', function (e) {
                $(this).valid();
            });
        
            // Special handling for file inputs
            $('input[type="file"]').on('change', function() {
                validator.element(this);
            });
        
            // Special handling for datepicker
            $('#datepicker').on('changeDate', function() {
                $(this).valid();
            });
        
            // Special handling for checkboxes
            $('input[type="checkbox"]').on('change', function() {
                validator.element('input[name="' + $(this).attr('name') + '"]:first');
            });
        });
        </script>

	

</body>

<!-- Mirrored from omah.dexignzone.com/xhtml/form-element.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jul 2024 15:55:23 GMT -->

</html>


</html>
